[submodule "openstreetmap-carto"]
	path = openstreetmap-carto
	url = https://github.com/mariocki/openstreetmap-carto.git
[submodule "openstreetmap-website"]
	path = openstreetmap-website
	url = https://github.com/mariocki/openstreetmap-website.git
